Creating a Series in padas

In [13]:
import pandas as pd
numbers = list(range(2, 11, 2))
s1 = pd.Series(data)
s1

0     2
1     4
2     6
3     8
4    10
dtype: int64

Now we ha a series with string as values, in Pandas strings are called "object"

In [6]:
data2 = list("abcde")
s2 = pd.Series(data2)
s2

0    a
1    b
2    c
3    d
4    e
dtype: object

A series with strings as indexes

In [7]:
new_index = list("abcde")
s3 = pd.Series(data=numbers, index=new_index)
s3

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [20]:
d = dict(zip(list("abcd"), (1,2,3,5)))
d

{'a': 1, 'b': 2, 'c': 3, 'd': 5}

In [21]:
s4 = pd.Series(d)
s4

a    1
b    2
c    3
d    5
dtype: int64

We can add two series if both have the same label rows, by example:

In [26]:
s3 + s4

a     3.0
b     6.0
c     9.0
d    13.0
e     NaN
dtype: float64